.toolbar{
  width:calc(100%-32px);
  display:flex;
  align-items: center;
  justify-content: space-around;
  margin: 8px 16px;
  border:1px solid #f1f1f1;
  box-sizing: border-box;
}

.toolbar__title{
  font-weight: 500;
  font-size: 1.5rem;
  color: #f1f;
}