.header {
  width: 300px;
  height: 100vh;
  border-right: 1px solid #ccc;
  margin-right: 0;
  display: flex;
  flex-direction: column;
}

.userInfo {
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.userInfo__avt {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #ccc;
  overflow: hidden;
  margin-right: 1rem;
}

.userInfo__avt img {
  width: 100%;
  height: 100%;
}

.userInfo__name {
  font-size: 1.5rem;
}

.logout {
  margin-top: auto;
  margin-bottom: 1rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logout span {
  margin-left: 1rem;
  font-size: 1.5rem;
  color: #f00;
}

.sidebar {
  width: 100%;
  flex: 1;
}

.sidebar__item{
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
}

.sidebar__item:hover{
  background-color:#f1f1f1;
}

.sidebar__item a{
  font-size: 1.5rem;
  color: #f1f
}